<!-- begin::Row -->
<div  class="row  d-flex flex-nowrap align-items-start " id="card-container-horizental-before-1"></div>

<div class="row  d-flex flex-nowrap align-items-start">


  <div class="col-8">
    <div   id = "card-1" >
      <div class=" d-flex justify-content-center  ">
    <button #upButton  id="center-button-up-1" (click)="duplicateCard('up', upButton.id)">
      <app-keenicon name="arrow-up" class="fs-1"></app-keenicon>
    </button>
  </div>
<div class="row align-items-center ms-20 ">
  <div class="col ">
    <button #leftButton id="center-button-left-1" (click)="duplicateCard('left' , leftButton.id)">
      <app-keenicon name="arrow-left" class="fs-1"></app-keenicon>
    </button>
  </div>
  <div class="col">
    <app-imageimport>
    </app-imageimport>
  </div>
  <div class="col">
    <button #rightButton  id="center-button-right-1" (click)="duplicateCard('right' , rightButton.id)">
      <app-keenicon name="arrow-right" class="fs-1"></app-keenicon>
    </button>
  </div>
  </div>

  <div class="d-flex justify-content-center">
  <button #downButton  id="center-button-down-1" (click)="duplicateCard('down' , downButton.id)">
    <app-keenicon name="arrow-down" class="fs-1"></app-keenicon>
  </button>
  </div>
</div>
</div>
<div  class="" id="card-container-lateral-before-1"></div>
<div class="col-8" id="card-container-lateral-after-1"></div>
</div>
<div  class="row col-xl-8" id="card-container-horizental-after-1"></div>


<!-- end::Row -->
<!--
<!-- begin::Row
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <app-lists-widget4 class="card card-xl-stretch mb-xl-8"></app-lists-widget4>
  </div>
  <div class="col-xl-4">
    <app-lists-widget5 class="card card-xl-stretch mb-xl-8"></app-lists-widget5>
  </div>
  <div class="col-xl-4">
    <app-lists-widget6
      class="card card-xl-stretch mb5 mb-xl-8"
    ></app-lists-widget6>
  </div>
</div>-->
<!-- end::Row -->

<!-- begin::Row
<div class="row g-5 g-xl-8">
  <div class="col-xl-6">
    <app-lists-widget7 class="card card-xl-stretch mb-xl-8"></app-lists-widget7>
  </div>
  <div class="col-xl-6">
    <app-lists-widget8
      class="card card-xl-stretch mb5 mb-xl-8"
    ></app-lists-widget8>
  </div>
</div>-->
<!-- end::Row -->

