
<body class="overflow-hidden  margin: 0;
padding: 0;">
<canvas #canvas id ="canvas" class="position = fixed outline-none top-0 left-0 ">
</canvas>
<div class="point relative visible" style="top: 50%; left: 50%;">
  <div class="absolute top-[-20%] left-[-20%] w-20 h-20 bg-opacity-75 bg-black text-white rounded-full font-sans text-center line-height-20 font-thin text-sm cursor-grab transform scale-0 transition-transform duration-300">Lambo</div>
  <div class="absolute top-30 left-[-120px] w-150 rounded-md bg-opacity-75 bg-black text-white line-height-[1.3em] font-sans font-thin text-sm p-5 opacity-0 pointer-events-none">Text Content</div>
</div>

</body>
